.bd-navbar {
  background-color: #163a25;}

.btn {
  text-align: start;
  width: auto;
}

.highlight {
  background: #eef1ee;
}


  

.pic blockquote {
  color: grey;
  font-size: 32px;
  background-image:  url("../img/foto4.jpg");
  background-size: cover;

  height: 400px;
  padding-left: 20px;
      
}
.gifka {
  margin-top: 30px;

}
.gifka img {
  position: relative;
  vertical-align: top;
}
.carousel slide
{
  height: 100%;
  position: relative;
  
}
.carousel-caption
{
  z-index: 20;
  width: auto;
  max-height: fit-content;
  top: 0%;
  

  
}

.row
{
  position: absolute;
  bottom: 50%;
  z-index: 20;

}
 .col
 {
  background-color:rgba(205, 214, 219, 0);
 }
 .card
 {
  background-color:rgba(205, 214, 219, 0);
 }
.card-body
{
  background-color:rgba(205, 214, 219, 0.5);
}
.btn-primary1
{
  background-color:rgba(205, 214, 219, 1);
}
    