.bd-navbar {
  background-color: #163a25;}

.btn {
  text-align: start;
  width: auto;
}

.highlight {
  background: #eef1ee;
}

.pic img {
  width: 100%;
  height: auto;
}
.pic blockquote {
  color: grey;
  font-size: 32px;
  background-image: url("izh-ecomed-atlas-1/img/foto4.jpg") ;
  background-size: cover;
  display: block;
  height: 400px;
  padding-left: 20px;
}

      
